<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leprosorium</title>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <script src="https://use.fontawesome.com/7599d4c6a9.js"></script> 
  <link rel="stylesheet" href="/css/styles.css" media="all">
</head>
<body>

  <!--============= Хэдер ===============-->
  <header>
    <div id="head-main">
      <img src="/img/favicon.png" alt="">
      <div id="h1-box1">     
        <%# <a href="#" title="Leprosorium"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a> %>
        <a href="/" title="На главную страницу">Leprosorium</a>
      </div>
      <div id="h1-box2">
        <a href="/" class="trans" title="Страница с постами">Главная</a>
        <a href="/new" class="trans" title="Написать пост">Запостить</a>
      </div>
      <div id="h1-box3">
        <a class="h1-but1 trans" href="#">Войти</a>
        <a class="h1-but2 trans" href="#">Регистрация</a>
      </div>
    </div>
  </header>
  

  <!--===== блок сообщения об ошибке ========-->
  <div>
    <% if @error && @error.size > 0 %>
      <div style="color: red;"><%= @error %></div>
    <% end %>
  </div>

  <!--============= yield ===============-->
  <%= yield %>
 
</body>
</html>