<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leprosorium</title>
  <link href="" rel="stylesheet" media="all">
</head>
<body>

  <h1 style="color: lightblue;">
    layout.erb используeтся. Этот блок будет на всех страницах<br>
    <a href="/">Главная</a><br>
    <a href="/new">Написать пост</a><br>
    layout.erb используeтся. Этот блок будет на всех страницах
  </h1>

  <div><!-- блок сообщения об ошибке -->
    <% if @error && @error.size > 0 %>
      <div style="color: red;"><%= @error %></div>
    <% end %>
  </div>

  <%= yield %>
 
</body>
</html>