<h1 class='text-center'>Add New Post</h1>

<div class='main-new'>
	<form action="/new" method="POST">
		<textarea name="content" placeholder="Введите здесь текст поста"></textarea>

		<p><label>Введите свое имя</label></p>
		<input type="text" name="author">
		<br>
		<button type="submit" class='button-1'>Отправить</button>
	</form>
</div>